.my-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 287px;
    margin-top: 40px;

}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

}

.skill-icon-wrapper {
    width: 98px;
    height: 98px;
    background-color: #f5efef;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}